
/* mobile device */
@media screen and (max-width: 767px) {
  /* header part */
  .header {
    padding: 20px;
    flex-direction: column;
  }
  .header nav ul {
    text-align: center;
  }
  .header nav ul li {
    margin-left: 25px;
  }
  .header nav ul li:first-child {
    margin-left: 0;
  }

  /* banner section style */
  .banner {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .banner .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner .banner-content h1 {
    font-size: 28px;
    line-height: normal;
  }
  .banner .banner-content p {
    font-weight: 500;
  }
  .banner .banner-content button {
    margin: auto;
  }
  .banner .banner-content button svg {
    padding-left: 10px;
    font-size: 16px;
  }

  /* brand section style */
  .brand {
    padding: 50px 30px;
  }
}

/* medium device */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* header part */
  .header {
    padding: 20px;
  }

  /* banner section style */
  .banner {
    padding: 20px;
  }

  .banner .banner-content h1 {
    font-size: 38px;
    line-height: normal;
  }
  .banner .banner-content p {
    font-weight: 500;
  }
}

/* large device */
@media screen and (min-width: 993px) and (max-device-width: 1024px) {
}
