/* font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* fontawesome link */
@import "./all.min.css";

/* Common style */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  color: #3a3a3a;
  font-style: normal;
  line-height: 70px;
}
.btn-primary {
  background: #e02c6d;
}
a {
  text-decoration: none;
}

/* local style */

/* header nav style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
.header h3 {
  font-size: 24px;
  font-weight: 700;
}
.header nav ul {
  list-style: none;
}
.header nav ul li {
  display: inline-block;
  margin-left: 20px;
}
.header nav ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* media query style */

/* mobile device */
@media screen and (max-width: 767px) {
  /* header part */
  .header {
    padding: 20px;
    flex-direction: column;
  }
  .header nav ul {
    text-align: center;
  }
  .header nav ul li{
    margin-left: 25px;
  }
  .header nav ul li:first-child{
    margin-left: 0;
  }

}

/* medium device */
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* header part */
  .header {
    padding: 20px;
  }
  
}

/* large device */
@media screen and (min-width: 993px) and (max-device-width: 1024px) {
}
