/* font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* fontawesome link */
@import "./all.min.css";

/* Common style */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: #3a3a3a;
  font-style: normal;
  line-height: 70px;
}
.btn-primary {
  background: #e02c6d;
}
a {
  text-decoration: none;
}

/* local style */

/* header nav style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
.header h3 {
  font-size: 24px;
  font-weight: 700;
}
.header nav ul {
  list-style: none;
}
.header nav ul li {
  display: inline-block;
  margin-left: 20px;
}
.header nav ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* banner section style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}
.banner .banner-content {
  width: 582px;
}
.banner .banner-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.banner .banner-content p {
  font-weight: 600;
  padding: 20px 0;
}
.banner .banner-content button {
  color: #fff;
  padding: 10px 24px;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.banner .banner-content button svg {
  padding-left: 10px;
  font-size: 16px;
}

.banner .banner-image {
  background-image: url("./../img/Circle\ design.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .banner-image img {
  width: 100%;
}

/* brand section style */
.brand {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 150px;
  gap: 20px;
}
.brand .brand-item img {
  width: 100%;
}

/* popular collection style */
.popular-collection {
  max-width: 1410px;
  padding: 50px;
  margin: auto;
}

.popular-collection h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  padding-bottom: 30px;
}

.popular-collection .collection-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.popular-collection .collection-container .collection-content {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.popular-collection .collection-container .collection-content img {
  width: 100%;
}
.popular-collection .collection-container .collection-content h3 {
  color: var(--text-gray-900, #18191f);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.popular-collection .collection-container .collection-content h4 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.popular-collection .collection-container .collection-content .review {
  padding: 10px 0;
}
.popular-collection .collection-container .collection-content .review .checked {
  color: orange;
}
.popular-collection .collection-container .collection-content .review small {
  color: #5e6366;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
}
.popular-collection .collection-container .collection-content p {
  color: var(--gray-50, #787885);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  width: 60%;
}

/* ======================================================================================================================================================================================================================================================================== */
/* media query style */

/* mobile device */
@media screen and (max-width: 767px) {
  /* header part */
  .header {
    padding: 20px;
    flex-direction: column;
  }
  .header nav ul {
    text-align: center;
  }
  .header nav ul li {
    margin-left: 25px;
  }
  .header nav ul li:first-child {
    margin-left: 0;
  }

  /* banner section style */
  .banner {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .banner .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner .banner-content h1 {
    font-size: 28px;
    line-height: normal;
  }
  .banner .banner-content p {
    font-weight: 500;
  }
  .banner .banner-content button {
    margin: auto;
  }
  .banner .banner-content button svg {
    padding-left: 10px;
    font-size: 16px;
  }

  /* brand section style */
  .brand {
    padding: 50px 30px;
  }
}

/* medium device */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* header part */
  .header {
    padding: 20px;
  }

  /* banner section style */
  .banner {
    padding: 20px;
  }

  .banner .banner-content h1 {
    font-size: 38px;
    line-height: normal;
  }
  .banner .banner-content p {
    font-weight: 500;
  }
}

/* large device */
@media screen and (min-width: 993px) and (max-device-width: 1024px) {
}
